.box{
    
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: contain; 
    height: 75px;
    margin: -10px;
}

.logo{
    width: 50%;
    height: 50%;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    bottom: 0;
    left: 0;
   
}

span{
    background-color: yellow;
}